<a href="https://colab.research.google.com/github/TimeryaevaM/new_rep/blob/master/diplom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os
import csv
import numpy as np

In [ ]:
# df = pd.read_csv("/data_new.csv", sep=",", quoting=csv.QUOTE_ALL, encoding='utf-8')

df = pd.read_csv("/data_new.csv")

In [ ]:
df.head()

     status private pool  ...       MlsId      target
0    Active          NaN  ...      611019    $418,000
1  for sale          NaN  ...   201916904    $310,000
2  for sale          NaN  ...  FR19221027  $2,895,000
3  for sale          NaN  ...    14191809  $2,395,000
4  for sale          NaN  ...      861745      $5,000

[5 rows x 18 columns]

In [ ]:
df.shape

(377185, 18)

In [ ]:
df[df['target'].isna()].shape

(2481, 18)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377185 entries, 0 to 377184
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        337267 non-null  object
 1   private pool  4181 non-null    object
 2   propertyType  342452 non-null  object
 3   street        377183 non-null  object
 4   baths         270847 non-null  object
 5   homeFacts     377185 non-null  object
 6   fireplace     103115 non-null  object
 7   city          377151 non-null  object
 8   schools       377185 non-null  object
 9   sqft          336608 non-null  object
 10  zipcode       377185 non-null  object
 11  beds          285903 non-null  object
 12  state         377185 non-null  object
 13  stories       226470 non-null  object
 14  mls-id        24942 non-null   object
 15  PrivatePool   40311 non-null   object
 16  MlsId         310305 non-null  object
 17  target        374704 non-null  object
dtypes: object(18)
memory usage: 51.8+ MB

In [ ]:
print("Percent NULL values\n")
round(df.isna().sum() / df.shape[0] * 100, 2)

Percent NULL values

status          10.58
private pool    98.89
propertyType     9.21
street           0.00
baths           28.19
homeFacts        0.00
fireplace       72.66
city             0.01
schools          0.00
sqft            10.76
zipcode          0.00
beds            24.20
state            0.00
stories         39.96
mls-id          93.39
PrivatePool     89.31
MlsId           17.73
target           0.66
dtype: float64

Удаляем столбцы, где процент NULL значений больше 40%

In [ ]:
df.drop(['private pool', 'fireplace', 'mls-id', 'PrivatePool'], axis=1, inplace=True)

In [ ]:
df.nunique()

status             159
propertyType      1280
street          337076
baths              229
homeFacts       321009
city              2026
schools         297365
sqft             25405
zipcode           4549
beds              1184
state               39
stories            348
MlsId           232944
target           43939
dtype: int64

status

In [ ]:
df['status'] = df['status'].str.lower()

In [ ]:
import string
string.punctuation
string.digits

'0123456789'

In [ ]:
df['status'] = df['status'].str.replace('[{}]'.format(string.punctuation), ' ').str.replace('[{}]'.format(string.digits), ' ').apply(lambda x: " ".join(str(x).split()))
df['status'].value_counts()

for sale                   199571
active                     105207
nan                         39918
foreclosure                  6769
new construction             5475
                            ...
contingent no show              1
lease purchase                  1
contingent sale of home         1
reactivated                     1
pending take backups            1
Name: status, Length: 104, dtype: int64

In [ ]:
df['status'].nunique()

104

propertyType

In [ ]:
df['propertyType'] = df['propertyType'].str.lower()
df['propertyType'] = df['propertyType'].str.replace('[{}]'.format(string.punctuation), ' ').apply(lambda x: " ".join(str(x).split()))
df['propertyType'] = df['propertyType'].str.replace('one', '1').str.replace('two', '2')

In [ ]:
df['propertyType'].value_counts()[20:40]

contemporary modern           1010
apartment                      922
2 stories                      911
mfd mobile home                792
single detached                751
detached 2 story               638
2 story                        596
transitional                   560
cooperative                    535
florida                        530
bungalow                       442
farms ranches                  371
garden home                    305
cape cod                       281
2 stories traditional          280
spanish mediterranean          272
other style                    249
1 story traditional            238
other                          232
condo townhome traditional     225
Name: propertyType, dtype: int64

In [ ]:
df['stories_dop'] = df['propertyType'].str.findall(r'[a-z0-9]+ story|[a-z0-9]+ stories').apply(lambda x: None if len(x) == 0 else x[-1])
#.str.replace('one', '1').str.replace('two', '2')
df['stories_dop'].value_counts(dropna=False)

NaN          369527
1 story        4440
2 stories      1558
2 story        1466
3 stories       134
8 stories        38
7 stories        15
3 story           6
5 story           1
Name: stories_dop, dtype: int64

In [ ]:
set_story = set(df['stories_dop'].dropna())
for y in set_story:
  df['propertyType'] = df['propertyType'].str.replace(y, '')

In [ ]:
df[df['propertyType'].str.contains('home')]['propertyType'].value_counts()

single family home                                                                        123934
condo townhome row home co op                                                               7701
multi family home                                                                           1501
mfd mobile home                                                                              792
garden home                                                                                  305
                                                                                           ...
condo townhome hi rise historical conservation district mid century modern traditional         1
condo townhome single detached                                                                 1
condo townhome studio                                                                          1
condo townhome contemporary modern mediterranean spanish                                       1
manufactured home double wide                                                                  1
Name: propertyType, Length: 137, dtype: int64

In [ ]:
df['propertyType'] = df['propertyType'].str.replace('home', '')
df['propertyType'] = df['propertyType'].apply(lambda x: None if x == '' else  " ".join(str(x).split()))

In [ ]:
df['propertyType'].nunique()

1113

street

In [ ]:
df['street'].value_counts(dropna=False)[1200:]

2339 3rd St NE                           3
1800 146th Ave SE                        3
2206 Bailey Ave                          3
1919 Cornett Pl                          3
8638 Ruthby St                           3
                                        ..
10427 Lennox Ln                          1
Trinity II Plan in Swiss Ave Crossing    1
12754 Highwick Cir                       1
13048 Ambaum Blvd SW                     1
Franklin Plan in The Trellises           1
Name: street, Length: 335877, dtype: int64

In [ ]:
df['street'] = df['street'].str.lower()
df['street'] = df['street'].apply(lambda x: None if 'not disclosed' in str(x) else 
                                  None if 'undisclosed' in str(x) else
                                  None if 'not available' in str(x) else
                                  None if 'unknown' in str(x) else str(x))

In [ ]:
df.loc[153487, 'street']

'e 93rd lot2 st '

In [ ]:
df['street'] = df['street'].str.replace('\.', '').str.replace('#', '').str.replace('&', ' ').str.replace(r'\bi{2,}\b', '')
df['street'] = df['street'].str.replace('\'', ' ').str.replace('\"', ' ').str.replace('+', ' ').str.replace('  ', ' ')
df['street'] = df['street'].str.replace(';', ' ').str.replace(',', ' ').str.replace('@', ' ').str.replace('/', ' ').str.replace('~', ' ')
df['street'] = df['street'].str.replace('  ', ' ').str.strip()

In [ ]:
df['street'] = df['street'].str.replace(r'\b[0-9]+\b', '').str.replace('  ', ' ').str.strip()
df['street'] = df['street'].str.replace(r'\([a-z0-9, $/]*\)', '')
df.loc[(df['street'].isna()==False) & (df['street'].str.contains(r'mls :')), 'street'] = None

In [ ]:
# Записать dropwords и удалить их
dropwords = []

In [ ]:
street_list_tuple = [('st', 'street'), ('dr', 'drive'), ('ave', 'avenue'), ('rd', 'road'), ('rdg', 'ridge'), ('blvd', 'boulevard'), ('pkwy', 'parkway'), 
                   ('cir', 'circle'), ('hwy', 'highway'), ('ln', 'lane'), ('lndg', 'landing'), ('trl', 'trail'), ('ter', 'terrace'), ('ct', 'court'), 
                   ('crk', 'creek'), ('pl', 'place'), ('rds', 'roads'), ('bnd', 'bend'), ('fls', 'falls'), ('clf', 'cliff'), ('clfs', 'cliff'), ('mtn', 'mountain'), 
                   ('crst', 'crest'), ('hl', 'hill'), ('ml', 'mill'), ('mnr', 'manor'), ('hts', 'heights')]       
                          
street_list_2 = ['street', 'drive', 'avenue', 'road', 'ridge', 'way', 'boulevard', 'parkway', 'circle', 'highway', 'lane', 
                 'landing', 'trail', 'terrace', 'court', 'creek', 'place', 'roads', 'bend', 'falls', 'cliff', 'mountain', 
                 'crest', 'hill', 'mill', 'point', 'loop', 'court', 'manor', 'heights', 'oaks', 'park']

In [ ]:
def street_replace(df, st_tupl):

  df['street'] = df['street'].str.replace(f' {st_tupl[0]} ', f' {st_tupl[1]} ').str.replace(f' {st_tupl[0]}$', f' {st_tupl[1]}').str.replace(
      f' {st_tupl[1]} {st_tupl[1]}', f' {st_tupl[1]}').str.strip()
  df['street'] = df['street'].str.replace(f' {st_tupl[1]} {st_tupl[0]} ', f' {st_tupl[1]} ')

  # print(f'replace {st_tupl[0]} to {st_tupl[1]}')

In [ ]:
for x in street_list_tuple:
  street_replace(df, x)

replace st to street
replace dr to drive
replace ave to avenue
replace rd to road
replace rdg to ridge
replace blvd to boulevard
replace pkwy to parkway
replace cir to circle
replace hwy to highway
replace ln to lane
replace lndg to landing
replace trl to trail
replace ter to terrace
replace ct to court
replace crk to creek
replace pl to place
replace rds to roads
replace bnd to bend
replace fls to falls
replace clf to cliff
replace clfs to cliff
replace mtn to mountain
replace crst to crest
replace hl to hill
replace ml to mill
replace mnr to manor
replace hts to heights

In [ ]:
df['street'] = df['street'].str.replace(r'\b[a-z]{1,2}\b', '').str.replace('  ', ' ').str.strip()

In [ ]:
def street_var(df, street_var):
  #### Создаем новые столбцы для значений параметров улиц

  # print(street_var + " :")
  street_col = street_var + '_v'
  df[street_col] = None

  df[street_col] = df['street'].apply(lambda x: None if x is None else 1 if x.endswith(' ' + street_var) else 
                                      1 if ' ' + street_var + ' ' in x else 0)

  # print(f'New columm {street_col} is ready')

In [ ]:
for x in street_list_2:
  street_var(df, x)

street :
New columm street_v is ready
drive :
New columm drive_v is ready
avenue :
New columm avenue_v is ready
road :
New columm road_v is ready
ridge :
New columm ridge_v is ready
way :
New columm way_v is ready
boulevard :
New columm boulevard_v is ready
parkway :
New columm parkway_v is ready
circle :
New columm circle_v is ready
highway :
New columm highway_v is ready
lane :
New columm lane_v is ready
landing :
New columm landing_v is ready
trail :
New columm trail_v is ready
terrace :
New columm terrace_v is ready
court :
New columm court_v is ready
creek :
New columm creek_v is ready
place :
New columm place_v is ready
roads :
New columm roads_v is ready
bend :
New columm bend_v is ready
falls :
New columm falls_v is ready
cliff :
New columm cliff_v is ready
mountain :
New columm mountain_v is ready
crest :
New columm crest_v is ready
hill :
New columm hill_v is ready
mill :
New columm mill_v is ready
point :
New columm point_v is ready
loop :
New columm loop_v is ready
court :
New columm court_v is ready
manor :
New columm manor_v is ready
heights :
New columm heights_v is ready
oaks :
New columm oaks_v is ready
park :
New columm park_v is ready

In [ ]:
def change_street(df, spec_str):

  ### Преобразуем улицы согласно паттернам

  new_street = df.loc[(df['street'].isna()==False) & (df['street'].str.contains(r'\b[a-z]{3,}\b \b[a-z]{2,}\b ' + spec_str)), 'street']
  new_street = new_street.str.findall(r'\b[a-z]{3,}\b \b[a-z]{2,}\b ' + spec_str).apply(lambda x: None if len(x) == 0 else x[0])
  df.loc[new_street.index, 'street'] = new_street

  new_street = df.loc[(df['street'].isna()==False) & (df['street'].str.contains('[0-9]+[a-z]+ ' + spec_str)), 'street']
  new_street = new_street.str.findall('[0-9]+[a-z]+ ' + spec_str).apply(lambda x: None if len(x) == 0 else x[0])
  df.loc[new_street.index, 'street'] = new_street

  new_street = df.loc[(df['street'].isna()==False) & (df['street'].str.contains('[0-9]+[a-z]+ [a-z]+ ' + spec_str)), 'street']
  new_street = new_street.str.findall('[0-9]+[a-z]+ [a-z]+ ' + spec_str).apply(lambda x: None if len(x) == 0 else x[0])
  df.loc[new_street.index, 'street'] = new_street

  new_street = df.loc[(df['street'].isna()==False) & (df['street'].str.contains(r'\b[a-z]{3,}-[a-z]{3,}\b '+ spec_str)), 'street']
  new_street = new_street.str.findall(r'\b[a-z]{3,}-[a-z]{3,}\b '+ spec_str).apply(lambda x: None if len(x) == 0 else x[0])
  df.loc[new_street.index, 'street'] = new_street

  new_street = df.loc[(df['street'].isna()==False) & (df['street'].str.contains(r'^\b[a-z]{3,}\b '+ spec_str)), 'street']
  new_street = new_street.str.findall(r'^\b[a-z]{3,}\b '+ spec_str).apply(lambda x: None if len(x) == 0 else x[0])
  df.loc[new_street.index, 'street'] = new_street
  
  # print('Change', spec_str)

In [ ]:
for x in street_list_2:
  change_street(df, x)

Change street
Change drive
Change avenue
Change road
Change ridge
Change way
Change boulevard
Change parkway
Change circle
Change highway
Change lane
Change landing
Change trail
Change terrace
Change court
Change creek
Change place
Change roads
Change bend
Change falls
Change cliff
Change mountain
Change crest
Change hill
Change mill
Change point
Change loop
Change court
Change manor
Change heights
Change oaks
Change park

In [ ]:
# Костыть чтобы убрать ненужные длинные тексты в улицах

df.loc[(df['street'].isna()==False) & (df['street'].str.contains(r' plan:')), 'street'] = df['street'].apply(lambda x: str(x).split(' plan:')[-1])
df.loc[(df['street'].isna()==False) & (df['street'].str.contains(r' plan :,')), 'street'] = df['street'].apply(lambda x: str(x).split(' plan :,')[-1])
df.loc[(df['street'].isna()==False) & (df['street'].str.contains(r' plan ')), 'street'] = df['street'].apply(lambda x: str(x).split(' plan ')[-1])
df.loc[(df['street'].isna()==False) & (df['street'].str.contains(r':')), 'street'] = df['street'].apply(lambda x: str(x).split(':')[0])
df.loc[(df['street'].isna()==False) & (df['street'].str.contains(r' - ')), 'street'] = df['street'].apply(lambda x: str(x).split(' - ')[0])
df['street'] = df['street'].str.replace('-', ' ').str.strip()
df['street'] = df['street'].str.replace('  ', ' ').str.strip()

In [ ]:
# Костыль по дропсловам !!! переместить наверх!!!

df['street'] = df['street'].apply(lambda x: str(x).split(' apt ')[0]).apply(lambda x: str(x).split(' apt')[0]).apply(lambda x: str(x).split('apt ')[0])
df['street'] = df['street'].apply(lambda x: None if x == 'apt' else x)

df['street'] = df['street'].str.replace(' unit ', '').str.replace(r'^unit ', '').str.replace(' unit$', '')
df['street'] = df['street'].apply(lambda x: None if x == 'unit' else x)

df['street'] = df['street'].str.replace(' lot ', '').str.replace(r'^lot ', '').str.replace(' lot$', '')
df['street'] = df['street'].apply(lambda x: None if x == 'lot' else x)

df['street'] = df['street'].str.replace(' lots ', '').str.replace(r'^lots ', '').str.replace(' lots$', '')
df['street'] = df['street'].apply(lambda x: None if x == 'lots' else x)

df['street'] = df['street'].str.replace('collection', '')

# Костыть по другим дропсловам

df['street'] = df['street'].str.replace(r'[0-9]+[a-z] ', '').str.replace(r'[0-9]+[a-z]$', '')
df['street'] = df['street'].str.replace(r'[a-z]+[0-9] ', '')
df['street'] = df['street'].str.replace(r'[0-9]+ft', '')
df['street'] = df['street'].str.replace('  ', ' ').str.strip()

In [ ]:
df['street'] = df['street'].apply(lambda x: str(x).split('|')[-1]).apply(lambda x: str(x).split(')')[-1])
df['street'] = df['street'].str.replace('  ', ' ').str.strip()

In [ ]:
# Создаем столбец длины улиц, чтобы ими управлять если что

df['street_length'] = df['street'].apply(lambda x: 0 if x is None else len(x.split()) )

In [ ]:
df['street_length'].value_counts()

2    298724
3     59304
1     16979
0      1010
4       831
5       261
6        39
7        18
8        14
9         5
Name: street_length, dtype: int64

In [ ]:
def del_var_from_street(df, street_var):

  df['street'] = df['street'].str.replace(f' {street_var} ', '').str.replace(f'^{street_var}  ', '').str.replace(f' {street_var}$', '').str.replace('  ', ' ').str.strip()
  df['street'] = df['street'].apply(lambda x: None if x == street_var  else x)

  print(f'Del {street_var} from street')

In [ ]:
for x in street_list_2:
  del_var_from_street(df, x)

Del street from street
Del drive from street
Del avenue from street
Del road from street
Del ridge from street
Del way from street
Del boulevard from street
Del parkway from street
Del circle from street
Del highway from street
Del lane from street
Del landing from street
Del trail from street
Del terrace from street
Del court from street
Del creek from street
Del place from street
Del roads from street
Del bend from street
Del falls from street
Del cliff from street
Del mountain from street
Del crest from street
Del hill from street
Del mill from street
Del point from street
Del loop from street
Del court from street
Del manor from street
Del heights from street
Del oaks from street
Del park from street

In [ ]:
df[df['street_length'] == 1]['street'].sample(20)

141690              None
251120              None
348884          broadway
87903             geyser
156245              None
304839              None
262989              None
273594              None
320949          affinity
165899             canty
193120              None
358985              None
145778              None
82333         geddington
259208              None
69433               None
238985    elizabethdrive
105100              None
277456            dunbar
346170           sangria
Name: street, dtype: object

In [ ]:
df[df['street_length'] == 2]['street'].nunique()
# Нужно использовать токенайзер

33901

baths

In [ ]:
df['baths'] = df['baths'].apply(lambda x: None if x is np.nan else x)
df['baths'].value_counts(dropna=False)

NaN                      106338
2 Baths                   52466
3 Baths                   35506
2                         20452
2.0                       16576
                          ...
39 Baths                      1
2-1 / 2-1 / 1-1 / 1-1         1
3.3 Baths                     1
11.5 Baths                    1
Bathrooms: 15                 1
Name: baths, Length: 230, dtype: int64

In [ ]:
punct = '~—\-:'

In [ ]:
df['baths'] = df['baths'].str.lower().str.replace('[a-z]+\.?', '').str.replace(',', '.').str.replace('[{}]'.format(punct), ' ')
df['baths'] = df['baths'].apply(lambda x: None if str(x).strip() =='' else x)

In [ ]:
df['baths_new'] = df['baths'].str.findall('[0-9]+\.?[0-9]*')
df['baths_new'] = df['baths_new'].apply(lambda x: None if x is None else x[0]).astype(float)
df['baths_new'].value_counts()

# df['baths_new'].to_csv('out.csv')
# ванна 0.5 проверить

2.0     103519
3.0      66683
4.0      26333
1.0      17787
2.5      13786
         ...
1.8          1
64.0         1
14.5         1
0.5          1
42.0         1
Name: baths_new, Length: 84, dtype: int64

city

In [ ]:
df['city'] = df['city'].str.lower().str.strip()
df['city'] = df['city'].str.replace('\-', ' ')

In [ ]:
df['city'] = df['city'].str.replace(' city', '').str.replace(' town+[a-z]*', '')
df['city'] = df['city'].str.replace('st\.', 'saint').str.replace(' twp.', '').str.replace('e. ', '').str.replace('ft.', 'fort').str.replace('s.a.', 'san antonio')
df['city'] = df['city'].str.replace(' twp', '').str.replace(' vlg', ' village')
df['city'] = df['city'].str.replace(' hts', 'heights').str.replace(' pt', 'point').str.replace('pt ', 'port ')
df['city'] = df['city'].str.replace('^st ', 'saint ')

In [ ]:
df.loc[(df['city'].isna()==False) & (df['city'].str.contains('san antonio')), 'city'] = 'san antonio'

In [ ]:
df['city'] = df['city'].str.replace('p c ', 'panama ').str.replace('^n ', 'north ').str.replace("town 'n' country", 'town north country')
df['city'] = df['city'].str.replace('nyork', 'new york').str.replace('nyc', 'new york')
df['city'] = df['city'].str.replace('bed-stuy', 'brooklyn').str.replace('collegepoint', 'college point')
df['city'] = df['city'].str.replace('othvalue [ a-z]*', 'othvalue')

In [ ]:
df['city'] = df['city'].apply(lambda x: " ".join(str(x).split()))

sqft

In [ ]:
df['sqft'].value_counts()

0                                          11854
1,200 sqft                                   839
1,000 sqft                                   654
1,100 sqft                                   573
1,800 sqft                                   563
                                           ...
Total interior livable area: 5,099 sqft        1
Total interior livable area: 5,507 sqft        1
74,300 sqft                                    1
6,623 sqft                                     1
7,834 sqft                                     1
Name: sqft, Length: 25405, dtype: int64

In [ ]:
df['sqft'] = df['sqft'].apply(lambda x: None if x is np.nan else x)

In [ ]:
df['sqft'] = df['sqft'].str.replace('[a-z ]*: ', '')
df['sqft'] = df['sqft'].str.replace('-','').str.replace('[A-Za-z]+','').str.replace(',','')

In [ ]:
df['sqft'] = df['sqft'].str.strip().apply(lambda x: None if x is None else 
                                          None if x == '' else int(x))

In [ ]:
df['sqft'].value_counts()

0.0         11854
1200.0       1426
1000.0       1027
1500.0       1014
1800.0        988
            ...
8966.0          1
11089.0         1
123275.0        1
44351.0         1
32767.0         1
Name: sqft, Length: 9897, dtype: int64

zipcode

In [ ]:
df['zipcode'].value_counts()

32137         2141
33131         1563
34747         1488
78245         1390
34759         1333
              ...
44101            1
38028            1
30805            1
32362            1
27615-1910       1
Name: zipcode, Length: 4549, dtype: int64

In [ ]:
df['zipcode'] = df['zipcode'].str.replace('\-[0-9]*', '').apply(lambda x: None if x is None else None if x == '' else int(x))

beds

In [ ]:
df['beds'] = df['beds'].apply(lambda x: None if x is np.nan else x).str.lower()

In [ ]:
df['beds'].value_counts(dropna=False)

NaN           91282
3 beds        53459
4 beds        35418
3             31406
2 beds        26362
              ...
4,647 sqft        1
2.79 acres        1
9,465 sqft        1
2.15 acres        1
4.97 acres        1
Name: beds, Length: 1185, dtype: int64

In [ ]:
index_sqft = df.loc[(df['sqft'].isna()) & (df['beds'].str.contains('sqft')), ['sqft','beds']].index
new_sqft = df.loc[(df['sqft'].isna()) & (df['beds'].str.contains('sqft')), ['sqft','beds']]
new_sqft['sqft'] = new_sqft['beds'].str.strip().str.replace(',', '.').str.findall('[0-9]+\.*[0-9]*').apply(lambda x: None if len(x) == 0 else x[0]).astype(float)

df.loc[(df['sqft'].isna()) & (df['beds'].str.contains('sqft')), 'sqft'] = new_sqft['sqft']
df.loc[(df['beds'].isna()==False) & (df['beds'].str.contains('sqft')), 'beds'] = None

In [ ]:
index_sqft = df.loc[(df['sqft'].isna()) & (df['beds'].str.contains('acre')), ['sqft','beds']].index
new_sqft = df.loc[(df['sqft'].isna()) & (df['beds'].str.contains('acre')), ['sqft','beds']]
new_sqft['sqft'] = new_sqft['beds'].str.strip().str.replace(',', '.').str.findall('[0-9]+\.*[0-9]*').apply(lambda x: None if len(x) == 0 else x[0]).astype(float)
new_sqft['sqft'] = (new_sqft['sqft'] * 43560).astype(int)

df.loc[(df['sqft'].isna()) & (df['beds'].str.contains('acre')), 'sqft'] = new_sqft['sqft']
df.loc[(df['beds'].isna()==False) & (df['beds'].str.contains('acre')), 'beds'] = None

In [ ]:
df['beds'] = df['beds'].str.replace('bedrooms', 'beds').str.replace('bd', 'beds')

In [ ]:
df.loc[(df['beds'].isna()==False) & (df['beds'].str.strip().str.contains('^[a-z,\-%@#_:;~ ]+$')), 'beds'] = None

In [ ]:
df['beds'].value_counts(dropna=False)[:20]

NaN       111390
3 beds     66336
4 beds     43683
2 beds     31605
3          31406
4          20030
2          16110
5 beds     13904
3.0         8088
5           6424
4.0         5231
1           4610
6 beds      4466
2.0         2430
6           1806
5.0         1372
7 beds      1247
0           1230
1 beds      1081
8 beds       856
Name: beds, dtype: int64

In [ ]:
new_bath = df.loc[(df['baths_new'].isna()) & (df['beds'].str.contains('bath')), 'beds'].str.findall('[0-9a-z ]+ bath').apply(lambda x: x[0].split()[0]).astype(float)
df.loc[new_bath.index, 'baths_new'] = new_bath
df.loc[new_bath.index, 'baths_new']

18787     1.0
124819    1.0
172605    1.0
238222    1.0
279149    2.0
325249    1.0
Name: baths_new, dtype: float64

In [ ]:
new_beds = pd.concat([(df.loc[(df['beds'].isna()==False) & (df['beds'].str.strip().str.contains('[0-9 a-z]+bed[a-z]*,')), 'beds']),
                      df.loc[(df['beds'].isna()==False) & (df['beds'].str.strip().str.contains(',[0-9 a-z]+bed[a-z]*')), 'beds']
                      ],
                     ).reset_index()
new_beds = new_beds.drop_duplicates().set_index('index')
new_beds['beds'] = new_beds['beds'].str.replace('or more ', '').str.findall('[0-9 ]+bed').apply(lambda x: x[0].split()[0]).astype(float)

df.loc[new_beds.index, 'beds'] = new_beds['beds']
df.loc[new_beds.index, 'beds']

index
18787     2
172605    2
200331    3
238222    3
325249    2
124819    2
279149    3
Name: beds, dtype: object

In [ ]:
punct = '!@#_,:;&'
df.loc[(df['beds'].isna()==False) & (df['beds'].str.contains('[{}]'.format(punct))), 'beds'] = None
punct = '\-'
new_beds = df.loc[(df['beds'].isna()==False) & (df['beds'].str.contains('[{}]'.format(punct))), 'beds'].str.findall('[0-9]+').apply(lambda x: x[-1]).astype(float)
df.loc[new_beds.index, 'beds'] = new_beds
df.loc[new_beds.index, 'beds']

330468    2
Name: beds, dtype: object

In [ ]:
df['beds'] = df['beds'].str.replace('or more ', '')
df['beds'] = df['beds'].str.replace('beds','').str.strip().apply(lambda x: None if x is None else
                                                                 None if x == '' else x).astype(float)

state

In [ ]:
df['state'].value_counts(dropna=False)[-20:]

UT    1325
MD    1090
VT     868
MO     866
VA     801
WI     452
NJ     436
ME     259
IA     242
KY      90
OK      49
MS      40
SC      28
MT       7
DE       5
OT       1
AL       1
BA       1
OS       1
Fl       1
Name: state, dtype: int64

stories

In [ ]:
df['stories_dop'] = df['stories_dop'].apply(lambda x: None if x is None else x.split()[0]).astype(float)
df['stories_dop'].value_counts(dropna=False)

NaN    369527
1.0      4440
2.0      3024
3.0       140
8.0        38
7.0        15
5.0         1
Name: stories_dop, dtype: int64

In [ ]:
df['stories'] = df['stories'].str.lower()
df['stories'].value_counts(dropna=False)

NaN                      150715
1.0                       67454
2.0                       55283
1                         23086
2                         18146
                          ...
federal                       1
site built, townhouse         1
2 story or 2 level            1
3 story, multi level          1
64.0                          1
Name: stories, Length: 349, dtype: int64

In [ ]:
punct = '!|/_\-:;'
df.loc[(df['stories'].isna()==False) & (df['stories'].str.contains('[{}]'.format(punct))), 'stories'].value_counts()
df.loc[(df['stories'].isna()==False) & (df['stories'].str.contains('[0-9 ]/[0-9 ]')), 'stories'].value_counts()
df.loc[(df['stories'].isna()==False) & (df['stories'].str.contains('half')), 'stories'].value_counts()
df.loc[(df['stories'].isna()==False) & (df['stories'].str.contains('multi')), 'stories'].value_counts()

# много пустых значений, не знаю, обрабатывать ли их

multi/split                   271
multi-level                    57
other multi-unit               19
three or more, multi/split      7
multi level                     6
multi-story                     3
two, multi/split                3
multi level, three or more      1
multi level, tri level          1
multi-level, new englander      1
2 story, multi level            1
3 story, multi level            1
one, two, multi/split           1
other, two, multi/split         1
1 story, multi level            1
multi/split, two                1
tri/multi level                 1
Name: stories, dtype: int64

MlsId

In [ ]:
df = df.drop('MlsId', axis=1)

target

In [ ]:
df['target'].value_counts(dropna=False)

NaN         2481
$225,000    1462
$275,000    1355
$250,000    1312
$350,000    1296
            ...
$219,108       1
$202,882       1
$63,198        1
$306,108       1
$473,486       1
Name: target, Length: 43940, dtype: int64

In [ ]:
df['target'] = df['target'].apply(lambda x: None if x is np.nan else x)

In [ ]:
df[(df['target'].isna()==False) & (df['target'].str.isdigit())]['target'].value_counts()

1      2
3      2
800    2
8      1
20     1
25     1
29     1
825    1
750    1
30     1
Name: target, dtype: int64

In [ ]:
punct = '$,+\-/'
df['target'] = df['target'].str.replace('[a-z]', '').str.replace('[{}]'.format(punct), '').str.strip()

In [ ]:
df['target'] = df['target'].apply(lambda x: None if x is None else int(x.split()[0]))

In [ ]:
df.loc[330468]['target']

1215.0

In [ ]:
df['target'].value_counts(dropna=False)

NaN         2481
225000.0    1806
275000.0    1650
250000.0    1644
350000.0    1641
            ...
9100.0         1
515530.0       1
195050.0       1
780226.0       1
374521.0       1
Name: target, Length: 34233, dtype: int64

future engeneer

In [ ]:
df.sample(5)

               status   propertyType  ... stories_dop baths_new
172458       for sale          condo  ...         NaN       3.0
352735         active  single family  ...         NaN       2.0
336589  recently sold  single family  ...         NaN       NaN
200160         active          ranch  ...         NaN       NaN
369860       for sale   multi family  ...         NaN       2.0

[5 rows x 15 columns]